{% extends "base.html" %}

{% block title %}GENOVA AI{% endblock %}

{% block content %}
<!-- Header-->
<header class="bg-light m-4">
    <div class="container-fluid px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center m-5">
                    <h2 class="fw-bolder text-center">"Tujuan kami adalah Memberikan Solusi Deteksi yang Andal dan
                        Efektif
                        untuk Mengidentifikasi Tanda-Tanda Tumor Otak Melalui Penerapan Teknologi Inovatif.”
                    </h2>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Team members section-->
<section style="margin-bottom: 90px;">
    <div class="container-fluid">
        <div class="card-deck ">
            <div class="card shadow">
                <img class="card-img-top" src="/static/image/resized_Suprapto.png" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title"><b>Suprapto Santoso</b></h3>
                    <h5>Project Manager</h5>
                    <hr class="my-4">
                    <p class="card-text" style="text-align: justify;">Mahasiswa Semester 5 Jakarta Global University
                        jurusan Teknik Informatika. Bertindak sebagai project manager yang bertugas
                        Membuat rencana proyek yang mencakup semua tahap pengembangan. Menjaga komunikasi, memantau
                        kemajuan project dan memastika project selesai tepat pada waktunya.
                    </p>
                </div>
            </div>
            <div class="card shadow">
                <img class="card-img-top" src="/static/image/resized_Jelita.png" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title"><b>Binti Rabiul J</b></h3>
                    <h5>Model Development</h5>
                    <hr class="my-4">
                    <p class="card-text" style="text-align: justify;">Mahasiswa semester 6 Universitas Malang jurusan
                        Kimia. Bertindak sebagai model development yang menyiapkan dan mengemas model pembelajaran mesin
                        atau kecerdasan buatan yang telah dilatih agar siap untuk di-deploy.
                        serta melakukan pengujian model di lingkungan produksi untuk memastikan kinerja dan
                        keandalannya.
                    </p>
                </div>
            </div>
            <div class="card shadow">
                <img class="card-img-top" src="/static/image/resized_Gilang.png" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title"><b>Almas Gilang R</b></h3>
                    <h5>Model Deployment</h5>
                    <hr class="my-4">
                    <p class="card-text" style="text-align: justify;">Mahasiswa semester 5 Universitas WIjaya Kusuma
                        Purwokerto. Bertindak sebagai Model Deployment yang Memantau performa model setelah deployment
                        dan melakukan pemeliharaan rutin. Menangani masalah yang muncul dan memastikan model tetap
                        up-to-date.
                        Mengelola skalabilitas dan ketersediaan model.
                    </p>
                </div>
            </div>
            <div class="card shadow">
                <img class="card-img-top" src="/static/image/resized_Rintan.png" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title"><b>Rintan Janisya</b></h3>
                    <h5>UI/UX</h5>
                    <hr class="my-4">
                    <p class="card-text" style="text-align: justify;">Mahasiswi semester 6 Politeknik Negeri Sriwijaya
                        jurusan Teknik ELektro. Bertangung jawab terhadap memahami kebutuhan dan preferensi pengguna.
                        Membuat mockups dan prototipe untuk antarmuka pengguna yang intuitif, menarik dan memastikan
                        konsistensi visual di seluruh website.
                    </p>
                </div>
            </div>
            <div class="card shadow">
                <img class="card-img-top" src="/static/image/resized_Syarief.png" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title"><b>Muhammad Syarif H</b></h3>
                    <h5>Website Deployment</h5>
                    <hr class="my-4">
                    <p class="card-text" style="text-align: justify;">Mahasiswa semester 5 Universitas Sriwijaya jurusan
                        Fisika. Bertanggung jawab sebagai Website development yang Menyiapkan kode aplikasi web agar
                        siap untuk di-deploy. Ini melibatkan minifikasi, bundling, dan pengujian.
                        Melakukan pemeliharaan rutin dan pembaruan pada web untuk efisiensi dan efektivitas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}