{% extends "base.html" %}

{% block title %}Galery_Glioma{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">Glioma Brain Tumor Sample</h1>
        <p class="lead" style="text-align : justify">Glioma adalah jenis tumor otak yang berasal dari sel-sel glial 
            di otak atau sumsum tulang belakang.
        </p>
        <div class="row">
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_glioma/glioma1.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_glioma/glioma2.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_glioma/glioma3.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_glioma/glioma4.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_glioma/glioma5.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_glioma/glioma6.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_glioma/glioma7.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_glioma/glioma8.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_glioma/glioma9.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_glioma/glioma10.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_glioma/glioma11.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_glioma/glioma12.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
        </div>
        <hr class="my-4">
        <h2>Cara Mencegah Tumor Otak Glioma</h2>
        <p>Berikut beberapa langkah yang dapat membantu mengurangi risiko terkena penyakit glioma:</p>
        <ul>
            <li>Hindari paparan radiasi yang tidak perlu, terutama ke kepala.</li>
            <li>Jaga pola hidup sehat dengan mengonsumsi makanan bergizi dan seimbang.</li>
            <li>Olahraga secara teratur untuk menjaga kesehatan tubuh secara keseluruhan.</li>
            <li>Hindari paparan bahan kimia berbahaya yang dapat meningkatkan risiko kanker.</li>
            <li>Jaga kesehatan sistem kekebalan tubuh dengan tidur yang cukup dan mengelola stres.</li>
        </ul>
        <p>Jika Anda memiliki riwayat keluarga dengan tumor otak, sebaiknya konsultasikan dengan dokter untuk mendapatkan saran medis yang tepat.</p>
    </div>
</div>
{% endblock %}