{% extends "base.html" %}

{% block title %}Galery_Meningioma{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">Meningioma Brain Tumor Sample</h1>
        <p class="lead" style="text-align : justify">Meningioma adalah jenis tumor yang umumnya tumbuh dari membran yang 
            melapisi otak dan sumsum tulang belakang, yang disebut meningi dan sebagian besar bersifat jinak.
        </p>
        <div class="row">
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_meningioma/meningioma 1.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_meningioma/meningioma 2.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_meningioma/meningioma 3.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_meningioma/meningioma 4.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_meningioma/meningioma 5.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_meningioma/meningioma 6.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_meningioma/meningioma 7.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_meningioma/meningioma 8.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_meningioma/meningioma 9.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_meningioma/meningioma 10.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_meningioma/meningioma 11.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_meningioma/meningioma 12.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
        </div>
        <hr class="my-4">
        <h2>Cara Mencegah Tumor Otak Meningioma</h2>
        <p>Beberapa langkah berikut dapat membantu mengurangi risiko terkena penyakit meningioma:</p>
        <ul>
            <li>Hindari paparan radiasi yang tidak perlu di bagian kepala.</li>
            <li>Karena beberapa meningioma dapat dipengaruhi oleh hormon, menjaga keseimbangan hormonal, terutama bagi wanita yang mengonsumsi terapi hormon, bisa menjadi tindakan pencegahan.</li>
            <li>Gaya hidup sehat dengan diet seimbang dan olahraga teratur dapat membantu menjaga kesehatan umum dan mencegah berbagai penyakit, termasuk meningioma.</li>
            <li>Menjaga berat badan yang sehat dapat mengurangi risiko meningioma, terutama pada wanita pasca-menopause.</li>
        </ul>
    </div>
</div>
{% endblock %}