{% extends "base.html" %}

{% block title %}Galery_No_Tumor{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">Sample No Tumor</h1>
        <p class="lead" style="text-align : justify">Kelas ini mengacu pada area pada gambar MRI yang 
            tidak menunjukkan adanya tumor.
        </p>
        <div class="row">
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_notumor/no_tumor 1.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_notumor/no_tumor 2.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_notumor/no_tumor 3.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_notumor/no_tumor 4.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_notumor/no_tumor 5.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_notumor/no_tumor 6.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_notumor/no_tumor 7.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_notumor/no_tumor 8.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_notumor/no _tumor 9.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_notumor/no_tumor 10.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_notumor/no_tumor 11.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_notumor/no_tumor 12.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
        </div>
        <hr class="my-4">
        <h2>Cara Mencegah Tumor Otak</h2>
        <p>Berikut adalah beberapa hal yang dapat dilakukan untuk mencegah tumor otak:</p>
        <ul>
            <li>Rutin Melakukan Cek Kesehatan: Pemeriksaan kesehatan secara rutin dapat membantu mendeteksi adanya perubahan atau kelainan di dalam tubuh, termasuk potensi tumor otak.</li>
            <li>Hentikan Kebiasaan Merokok: Merokok telah dikaitkan dengan berbagai jenis kanker, termasuk tumor otak</li>
            <li>Pola Hidup Sehat: Menerapkan pola hidup sehat, seperti diet seimbang dan olahraga teratur, dapat membantu menjaga kesehatan tubuh dan mencegah berbagai penyakit, termasuk tumor otak.</li>
            <li>Hindari Paparan Sinar Radiasi: Paparan sinar radiasi, terutama sinar-X, dapat meningkatkan risiko tumor otak.</li>
            <li>Hindari Mengonsumsi Makanan Berpengawet dan Mengandung Pemanis Buatan: Makanan ini dapat meningkatkan risiko berbagai jenis kanker, termasuk tumor otak.</li>
        </ul>
    </div>
</div>
{% endblock %}