{% extends "base.html" %}

{% block title %}Galery_Pituitary{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">Pituitary Brain Tumor Sample</h1>
        <p class="lead" style="text-align : justify">Pituitary merupakan salah satu jenis tumor yang terjadi pada 
            kelenjar pituitari yang terletak di dasar otak, di belakang rongga hidung.
        </p>
        <div class="row">
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_pituitary/pituitary 1.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_pituitary/pituitary 2.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_pituitary/pituitary 3.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_pituitary/pituitary 4.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_pituitary/pituitary 5.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_pituitary/pituitary 6.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_pituitary/pituitary 7.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_pituitary/pituitary 8.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_pituitary/pituitary 9.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_pituitary/pituitary 10.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_pituitary/pituitary 11.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-fluid rounded my-1 img-responsive" src="/static/galery_pituitary/pituitary 12.jpg" alt="Lights"
                        style="width:100%">
                </div>
            </div>
        </div>
        <hr class="my-4">
        <h2>Cara Mencegah Tumor Otak Pituitary</h2>
        <p>Pencegahan spesifik untuk tumor otak ini tidak ada, tetapi beberapa langkah umum yang dapat dilakukan adalah:</p>
        <ul>
            <li>Menjalani pemeriksaan kesehatan rutin dapat membantu mendeteksi perubahan hormon atau gejala awal yang mungkin terkait dengan tumor pituitary.</li>
            <li>Stres kronis dapat mempengaruhi fungsi hormonal. Mengelola stres melalui teknik relaksasi, meditasi, atau terapi dapat membantu menjaga kesehatan kelenjar pituitary.</li>
            <li>Menghindari paparan bahan kimia berbahaya yang dapat menjadi karsinogen dapat mengurangi risiko.</li>
            <li>Hindari paparan radiasi berlebihan, misalnya dari smartphone.</li>
            <li>Batasi konsumsi makanan yang diasap, dibakar, dan diawetkan dengan nitrit, serta zat kimiawi buatan.</li>
        </ul>
    </div>
</div>
{% endblock %}